<nav>
  <ul>
    <li><a href="/">Головна</a></li>
    <li><a href="/posts">Відгуки</a></li>
    <li><a href="/add-post">Додати Відгук</a></li>
    <li><a href="/contacts">Посилання</a></li>
  </ul>
</nav>
