<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <form id="post-form" method="post" action="/add-post">
    <div class="form-info">
      <label>Оцінка
        <input type="text" name="title">
      </label>
      <label>автор
        <input type="text" name="author">
      </label>
    </div>
    <div class="form-text">
      <label>Текст відгуку
        <textarea name="text"></textarea>
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Submit">
    </div>
  </form>
  <p class="Center">Build with Node.js Express, EJS, MongoDB</p>
</body>
</html>
